.base-button {
  width: 11em;
  letter-spacing: 0.5px;
  line-height: 3.2em; 
  font-size: 14px;
  background-color: var(--theme-color);  
  color: white;  
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;

  &:hover {
    background-color: var(--theme-on-hover);  
  }
}

.google-sign-in {
  background-color: #8349C5;  
  padding: 0em 0.5em;

  &:hover {
    background-color: #BA5EFF;
    border: none;  
  }
}

.create-post-open-modal {
 width: 8%;
 font-weight: normal; 
 margin-bottom: 3em;
 padding: 0em 0em;
 text-transform: capitalize;
}

.create-post,
.send-comment {
  width: 12%;
  font-weight: normal;
  line-height: 2.5em;
  text-transform: capitalize;
}

.delete-post,
.delete-comment {
  background-color: #D70022;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: red;
  }
}

.delete-post {
  height: 25px;
  width: 25px;
}

.delete-comment {
  height: 20px;
  width: 20px;
  text-transform: lowercase;
}

.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
    border: none;
  }
}
