.like-container {
  margin-left: 3em;
  margin-right: 1.5em;

  span {
    margin-left: 0.3em;
  }

  .like-button {
    font-size: 1.3em;
    color: #626262;
    background-color: white;
    border: none;
    cursor: pointer;

    &.liked {
      color: var(--theme-on-hover);
    }
  }
}
