.comments-list-container {
  #title {
    font-size: 1.05em;
    font-weight: bold;
    color: var(--theme-color);
  }

  .comment {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;

    span:first-child {
      color: var(--theme-color);
      font-size: 0.9em;
    }

    .comment-hours-ago {
      font-size: 0.8em;
      margin-left: 0.7em;
      color: gray;
    }
  }
}
