
.footer {
  display: flex;
  justify-content: space-between;  
  margin-top: 5em;
  padding: 2em;
  color: white;
  background-color: #000000;
  width: 100%; 

  .footer-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20em;
    padding-right: 15em;
    border-right: 2px solid var(--theme-color);
  
    span {
      margin-bottom: 1em;
    }
  }

  .footer-right { 
    height: auto;  
    margin-right: 25em;
    margin-top: 1.5em;
    padding-left: 5em;
 
    .fa-instagram {
        color: white;
        font-size: 24px;       
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px; 
        height: 40px; 
        border-radius: 20%; /* Makes the container round */    
        transition: background-color 0.3s, transform 0.3s; /* Add transitions for a smooth hover effect */
    
      &:hover {
        background: rgb(131,58,180);
        background: linear-gradient(250deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 80%, rgba(252,176,69,1) 100%);
       
        transform: scale(1.2); /* Scale up the icon on hover */
      }
    }
  }
}
